:root {
  /* primary color */
  --Black: #0b0d17;
  --White: #fff;
  --Grayish-light: #d0d6f9;
  --Dark-gray: #616476;
}

body {
  font-family: 'Barlow', sans-serif;
  font-family: 'Barlow Condensed', sans-serif;
  font-family: 'Bellefair', serif;
  font-family: 'Poppins', sans-serif;
}

.loading-screen {
  width: 100%;
  height: 100vh;
  background: rgba(97, 100, 118, 0.6);
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 7;
  overflow: hidden;
}

.loading-screen .circle {
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: 3px solid gray;
  border-radius: 50%;
  border-left-color: blue;
  animation: spin 1s linear infinite;
}

.loading-screen.hide {
  display: none;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.hero-section {
  min-height: 100vh;
  background: url('../starter-code/assets/home/background-home-mobile.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  width: 100%;
  padding: 24px 0 40px;
  position: relative;
  overflow-x: hidden;
}

/* display fixed navbar */

/* .navbar-fixed {
  position: fixed;
  width: 90%; */

/* background-color: red; */

/* top: 20px;
  left: 24px;
  align-items: center;
} */
.navbar .logo {
  margin: 20px;
}

.navbar .hamburger {
  /* all: unset; */
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 25px;
}

.hero-section .navbar {
  position: fixed;
  width: 100%;

  /* background-color: red; */
  top: 0;
  left: 0;
  margin: auto;

  /* align-items: center; */
}

/* disable the navlinks in the mobile section */

/* disable the navlinks in the mobile section */
.hero-section .navlinks {
  display: none;
}

/* show the navbar */
.hero-section .show-nav {
  position: absolute;
  height: 100%;
  top: 0;
  right: -20px;
  width: 60%;
  backdrop-filter: blur(40.7742px);

  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.hero-section .hide-nav {
  transform: translateX(100%);
}

.navlinks .close-btn {
  align-self: flex-end;
  margin: 33px 27px 0 auto;
  font-size: 2.5rem;
}

.navlinks .links {
  display: flex;
  flex-direction: column;
  margin: 118px auto auto 32px;
  gap: 32px;
  height: 80%;
  width: 100%;
  align-items: flex-start;
}

.links .link a {
  display: flex;
  gap: 11px;
}

a .number {
  font-weight: 700;
}

a .text {
  font-weight: 400;
}

.hero-section .hero-text {
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 120px;
}

.hero-text h1 {
  margin: 25px auto;
}

.hero-text p {
  margin: auto auto 91px;
}

.hero-text .explore-btn {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: var(--White);
  color: var(--Black);
  border: none;
  font-family: 'Bellefair', serif;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 1.25px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  transition: linear 0.6s;
}

.destination {
  background: url(../starter-code/assets/destination/background-destination-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  padding-top: 50px;
}

.top-title .number-title {
  font-weight: 700;
  color: var(--Dark-gray);
}

.destination .img {
  width: 80%;
  margin: auto;
  text-align: center;
}

.img img {
  width: 60%;
  margin: 12px auto 33px;
}

.destination .destination-links {
  max-width: 240px;
  margin: 50px auto;
  gap: 25px;
}

.destination-links .dest-link {
  color: var(--Grayish-light);
  position: relative;
}

.destination-links li.active {
  color: var(--White);
}

.destination .destination-desc {
  text-align: center;
  margin: 13px 24px 32px;
}

.destination-desc h2 {
  margin: 12px auto;
}

.destination-desc p {
  width: 94%;
  margin: auto;
}

.destination .estimation {
  max-width: 500px;
  text-align: center;
  margin: auto;
}

.estimation .distance,
.estimation .time {
  margin-bottom: 42px;
  height: 100px;
}

.distance h5,
.time h5 {
  margin: 22px auto 10px;
  text-transform: uppercase;
}

/* crew */
.crew {
  background: url(../starter-code/assets/crew/background-crew-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.crew .entry-point {
  flex-direction: column;
  justify-content: space-between;
}

.crew-img img {
  margin-bottom: 0;
}

.crew-img .crew-line {
  margin-top: 0;
}

.crew .crew-desc {
  width: 100%;
  padding: 0 24px;
  flex-direction: column;
  text-align: center;
}

.crew-desc .dots {
  max-width: 500px;
  gap: 16px;
  margin: 20px auto 32px;
}

.dots .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--White);
  opacity: 0.17;
  cursor: pointer;
}

.dot:hover {
  opacity: 0.37;
}

.dots .dot-active {
  background: var(--White);
  opacity: 0.9;
  color: var(--Black);
}

.desc-text h4 {
  font-family: 'Bellefair', serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 18px;
  color: var(--White);
  opacity: 0.5;
  text-transform: uppercase;
}

.desc-text h3 {
  font-family: 'Bellefair', serif;
  font-size: 1.7rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 8px auto 16px;
}

.desc-text {
  /* text-align: center; */
  max-width: 500px;
}

.tech-img img {
  width: 100%;
}

.technology .technology-content-wrapper {
  flex-direction: column;
  text-align: center;
}

/* .technology .tech-img {
  order: 0;
} */
.technology .number-btns {
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 10px auto 28px;
}

.number-btns .number-btn {
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 50%;
}

.number-btn:hover {
  border: 1px solid rgba(255, 255, 255, 0.9);
}

.number-btn.active-num {
  background: var(--White);
  opacity: 0.9;
  color: var(--Black);
}

.technology {
  background: url(../starter-code/assets/technology/background-technology-mobile.jpg);
  padding: 40px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height: auto;
}
