/* Base styles */
html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  display: block;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}
button {
  all: unset;
  cursor: pointer;
  color: var(--White);
}
